body{
    background: #f4f4f4;
}
.header{
    width: 100%;
    position: relative;
}
.topnbd{
    width: 100%;
    height: 99px;
    background: #133169;
}
.top{
    position: relative;
    width: 1200px;
    height: 99px;
    margin: 0 auto;
}
.topbg{
    position: absolute;
    left: -232px;
    top: 0px;
    z-index: 1;
    width: 355px;
    height: 99px;
    background: url(../img/topbg.png) left bottom no-repeat;
}
.logo{
    position: relative;
    z-index: 10;
    width: 730px;
    height: 99px;
    float: left;
}
.toptel{
    position: relative;
    float: left;
    width: 244px;
    height: 44px;
    padding-left: 24px;
    padding-top: 35px;
    background: url(../img/telbg.jpg) 50px bottom no-repeat;
}
.toptel .tel {
    position: absolute;
    left: 90px;
    top: 20px;
    z-index: 1;
    width: 74px;
    height: 24px;
    padding-left: 30px;
    color: #627eb2;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    background: url(../img/index_05.png) left center no-repeat #133169;
}
.toptel .num {
    width: 244px;
    height: 44px;
    border-top: 1px solid #294c8e;
    border-bottom: 1px solid #294c8e;
    color: #dde9ff;
    font-size: 28px;
    line-height: 44px;
    font-family: impact;
    text-align: center;
}
.navgrp {
    position: relative;
    z-index: 999;
    width: 100%;
    height: 54px;
    margin: 0 auto;
    background: #171b21;
}
.nav {
    width: 666px;
    height: 54px;
    margin: 0 auto;
}
.nav li {
    position: relative;
    float: left;
    text-align: center;
    width: 111px;
    height: 54px;
    display: block;
}
.nav li a {
    width: 111px;
    height: 54px;
    display: block;
    color: #dfdfdf;
    font-size: 16px;
    line-height: 54px;
    text-align: center;
    overflow: hidden;
}
.nav li a:hover {
    color: #1f2228;
    background: #f4fd00;
}
.nav .menu a {
    width: 111px;
    height: 54px;
    display: block;
    color: #1f2228;
    font-size: 16px;
    line-height: 54px;
    text-align: center;
    background: #f4fd00;
}
.navChild{
    background: #f4fd00;
    position: relative;
    display: none;
}
.navChild a{
    position: relative;
    display: block;
    width: 77px;
    height: 40px;
    display: block;
    border-top: 1px solid #b8bd26;
    color: #1f2228!important;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    background: none;
}
.triangular {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 16px;
    height: 16px;
    background: url(../img/index_11.png);
}
.swiper-box{
    width: 100%;
}
.swiper-container{
    min-width: 800px;
    max-width: 2000px;
}
.swiper-slide img{
    width: 100%;
    height: 400px;
}
.product-show ,.solution ,.aboutus{
    width:1200px;
    margin: 0 auto;
    position: relative;
}
.Ttitle{
    position: relative;
    height: 94px;
    margin: 0 auto;
    color: #22479b;
    font-size: 20px;
    line-height: 94px;
    text-align: left;
    font-weight: bold;
    background: url(../img/index_33.png) -7px 60px no-repeat;
    display: inline-block;
}
.ProClaList a {
    display: block;
    float: left;
    padding-right: 20px;
    padding-left: 4px;
    color: #333333;
    font-size: 14px;
    background: url(../img/classbg.png) right center no-repeat;
}
.ProClaList a span {
    display: block;
    padding: 0 5px;
}
.ProClaList {
    float: right;
    line-height: 94px;
    height: 94px;
}
.content-box{
    margin: 0 8px;
}
.product-box{
    position: relative;
    width: 1200px;
    height: 540px;
    overflow: hidden;
}

.product-ul{
    position: relative;
    height: 540px;
}
.product-box ul {
    position: relative;
    float: left;
    width: 1200px;
    height: 540px;
    /* margin-left: 100px; */
    overflow: hidden;
}
.product-box ul li {
    position: relative;
    float: left;
    overflow: hidden;
    width: 328px;
    height: 246px;
    margin-right: 72px;
    padding-bottom: 24px;
    background: url(../img/proshadow.png) left bottom no-repeat;
}
.product-box ul li a {
    width: 328px;
    height: 246px;
    display: block;
}
.product-box ul li .pic {
    width: 316px;
    height: 234px;
    border: 6px solid #ededed;
}
.product-box ul li .picHover {
    position: absolute;
    left: 6px;
    bottom: 30px;
    text-align: center;
    z-index: 10;
    width: 276px;
    height: 62px;
    padding: 0px 20px;
    color: #e5ebf3;
    font-size: 16px;
    line-height: 62px;
    background: url(../img/back.png);
}
.timeline {
    background-color: #fff;
    box-shadow: 0 5px 25px 5px rgba(0, 0, 0, 0.2);
    width: 1200px;
}
.timeline .swiper-container {
    height: 600px;
    position: relative;
    width: 1200px
}
.timeline .swiper-wrapper{
    width: 1200px;
}
.timeline .swiper-wrapper {
    transition: 2s cubic-bezier(0.68, -0.4, 0.27, 1.34) 0.2s;
}
.timeline .swiper-slide {
    position: relative;
    color: #fff;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.timeline .swiper-slide::after {
    content: "";
    position: absolute;
    z-index: 1;
    right: -115%;
    bottom: -10%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: -230px 0 150px 60vw rgba(0, 0, 0, 0.7);
    border-radius: 100%;
}
.timeline .swiper-slide-content {
    position: absolute;
    text-align: center;
    width: 80%;
    max-width: 310px;
    right: 50%;
    top: 13%;
    -webkit-transform: translate(50%, 0);
    transform: translate(50%, 0);
    font-size: 12px;
    z-index: 2;
}
.timeline .swiper-slide .timeline-year {
    display: block;
    font-style: italic;
    font-size: 42px;
    margin-bottom: 50px;
    -webkit-transform: translate3d(20px, 0, 0);
    transform: translate3d(20px, 0, 0);
    color: #d4a024;
    font-weight: 300;
    opacity: 0;
    transition: .2s ease .4s;
}
.timeline .swiper-slide .timeline-title {
    font-weight: 800;
    font-size: 34px;
    margin: 0 0 30px;
    opacity: 0;
    -webkit-transform: translate3d(20px, 0, 0);
    transform: translate3d(20px, 0, 0);
    transition: .2s ease .5s;
}
.timeline .swiper-slide .timeline-text {
    line-height: 1.5;
    opacity: 0;
    -webkit-transform: translate3d(20px, 0, 0);
    transform: translate3d(20px, 0, 0);
    transition: .2s ease .6s;
}
.timeline .swiper-slide-active .timeline-year {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition: .4s ease 1.6s;
}
.timeline .swiper-slide-active .timeline-title {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition: .4s ease 1.7s;
}
.timeline .swiper-slide-active .timeline-text {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition: .4s ease 1.8s;
}
.timeline .swiper-pagination {
    right: 85% !important;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    font-style: italic;
    font-weight: 300;
    font-size: 18px;
    z-index: 1;
}
.timeline .swiper-pagination::before {
    content: "";
    position: absolute;
    right: -30px;
    top: 0;
    height: 100%;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.2);
}
.timeline .swiper-pagination-bullet {
    width: auto;
    height: auto;
    text-align: center;
    opacity: 1;
    background: transparent;
    color: #d4a024;
    margin: 15px 0 !important;
    position: relative;
}
.timeline .swiper-pagination-bullet::before {
    content: "";
    position: absolute;
    top: 8px;
    right: -32.5px;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: #d4a024;
    -webkit-transform: scale(0);
    transform: scale(0);
    transition: .2s;
}
.timeline .swiper-pagination-bullet-active {
    color: #d4a024;
}
.timeline .swiper-pagination-bullet-active::before {
    -webkit-transform: scale(1);
    transform: scale(1);
}
.timeline .swiper-button-next,
.timeline .swiper-button-prev {
    background-size: 20px 20px;
    top: 15%;
    width: 20px;
    height: 20px;
    margin-top: 0;
    z-index: 2;
    transition: .2s;
}
.timeline .swiper-button-prev {
    left: 8%;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23d4a024'%2F%3E%3C%2Fsvg%3E");
}
.timeline .swiper-button-prev:hover {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
}
.timeline .swiper-button-next {
    right: 8%;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23d4a024'%2F%3E%3C%2Fsvg%3E");
}
.timeline .swiper-button-next:hover {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
}
/*@media screen and (min-width: 999px) {*/
    .timeline .swiper-slide::after {
        left: 13%;
        bottom: -8%;
        width: 240px;
        height: 50%;
        box-shadow: -230px 0 150px 50vw rgba(0, 0, 0, 0.7);
    }
    .timeline .swiper-slide-content {
        right: 45%;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 310px;
        font-size: 11px;
        text-align: left;
    }
    .timeline .swiper-slide .timeline-year {
        margin-bottom: 0;
        font-size: 32px;
        padding-bottom: 25px;
    }
    .timeline .swiper-slide .timeline-title {
        font-size: 46px;
        margin: 0;
    }
    .timeline .swiper-pagination {
        display: flex;
    }
    .timeline .swiper-button-prev {
        top: 15%;
        left: auto;
        right: 90%;
        -webkit-transform: rotate(90deg) translate(0, 10px);
        transform: rotate(90deg) translate(0, 10px);
    }
    .timeline .swiper-button-prev:hover {
        -webkit-transform: rotate(90deg) translate(-3px, 10px);
        transform: rotate(90deg) translate(-3px, 10px);
    }
    .timeline .swiper-button-next {
        top: auto;
        bottom: 15%;
        right: 90%;
        -webkit-transform: rotate(90deg) translate(0, 10px);
        transform: rotate(90deg) translate(0, 10px);
    }
    .timeline .swiper-button-next:hover {
        -webkit-transform: rotate(90deg) translate(3px, 10px);
        transform: rotate(90deg) translate(3px, 10px);
    }
/*}*/
/*@media screen and (min-width: 1024px) {*/
/*    .timeline .swiper-slide::after {*/
/*        right: -20%;*/
/*        bottom: -12%;*/
/*        width: 240px;*/
/*        height: 50%;*/
/*        box-shadow: -230px 0 150px 39vw rgba(0, 0, 0, 0.7);*/
/*    }*/
/*    .timeline .swiper-slide-content {*/
/*        right: 25%;*/
/*    }*/
/*}*/
.Tmore {
    position: absolute;
    right: 0px;
    top: 30px;
    width: 108px;
    height: 56px;
}
.Tmore a{
    width: 68px;
    height: 56px;
    display: block;
    padding-left: 40px;
    color: #a2a2a2;
    font-size: 14px;
    line-height: 56px;
    font-weight: bold;
}
.aboutus-company{
    float: left;
    width: 666px;
    padding-top: 2px;
    padding-right: 36px;
    position: relative;
}
.companynr {
    width: 666px;
    padding-top: 10px;
    height: 176px;
    overflow: hidden;
    color: #474747;
    font-size: 14px;
    line-height: 30px;
    overflow: hidden;
}
.company-pic {
    float: left;
    width: 298px;
    height: 232px;
    padding-top: 50px;
}
.footer {
    width: 100%;
    background: #172a4f;
    border-top: 9px solid #e0e3e9;
}
.copyright {
    position: relative;
    width: 1000px;
    height: 116px;
    padding-top: 30px;
    padding-bottom: 20px;
    margin: 0 auto;
}
.copyrightBgL {
    position: absolute;
    left: -300px;
    top: 0px;
    width: 236px;
    height: 166px;
    background: url(../img/btnl.jpg) left top no-repeat;
}
.copyrightnr {
    width: 1000px;
    padding-bottom: 10px;
    color: #5d6f91;
    font-size: 14px;
    line-height: 35px;
    text-align: center;
}
.copyrightnr a {
    color: #5d6f91;
}
.backup {
    position: absolute;
    right: 0px;
    top: -50px;
}
.banner {
    position: relative;
    width: 100%;
    height: 180px;
    text-align: center;
}
.bann {
    position: absolute;
    top: 0;
    width: 100%;
    height: 180px;
    overflow: hidden;
}
.bann img{
    width: 1200px;
    height: 180px;
}
.frame-box{
    margin: 0 8px;
}
.main {
    position: relative;
    width: 1000px;
    padding-bottom: 20px;
    margin: 0 auto;
}
.left {
    float: left;
    position: relative;
    z-index: 9999;
    width: 232px;
    overflow: hidden;
    margin-right: 20px;
    margin-top: -72px;
}
.leftProCla {
    width: 232px;
    height: 100px;
    height: auto!important;
    min-height: 100px;
}
.leftTitle {
    width: 232px;
    height: 72px;
    color: #ffffff;
    font-size: 24px;
    line-height: 72px;
    text-align: center;
    font-weight: bold;
    background: url(../img/lefttb.jpg) left top no-repeat;
}
.leftTitlePic {
    width: 232px;
    height: 80px;
    display: block;
}
.leftProClaList {
    width: 232px;
}
.leftProClaList li {
    width: 192px;
    height: 38px;
    margin-bottom: 9px;
    padding-left: 30px;
    padding-right: 10px;
    background: #214a97;
}
.leftProClaList li a {
    color: #ffffff;
    font-size: 16px;
    line-height: 38px;
}
.clear-fix:after {
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;
}
.leftContact {
    width: 232px;
    margin-top: 18px;
}
.leftTitle2 {
    width: 232px;
    height: 48px;
    color: #ffffff;
    font-size: 18px;
    line-height: 48px;
    text-align: center;
    background: #214a97;
}
.leftTitlePic {
    width: 232px;
    height: 80px;
    display: block;
}
.contactTel {
    width: 222px;
    height: 44px;
    margin: 0 auto;
    padding: 10px 0px 0px 40px;
    color: #696969;
    font-size: 18px;
    line-height: 44px;
    text-align: left;
    background: url(../img/telbg2.jpg) 5px 15px no-repeat #ededed;
}
.contactnr {
    width: 232px;
    margin: 0 auto;
    padding-bottom: 20px;
    background: #ededed;
}
.contactnr dl {
    width: 232px;
    display: block;
    clear: both;
}
.contactnr dl dt, .contactnr dl dd {
    font-size: 14px;
    color: #696969;
    line-height: 26px;
}
.contactnr dl dt {
    width: 44px;
    float: left;
    padding-left: 10px;
}
.contactnr dl dd {
    width: 168px;
    float: left;
}
.clear {
    clear: both;
    height: 0px;
    overflow: hidden;
}
.mainCon {
    width: 748px;
    float: left;
}
.mainConTitle {
    position: relative;
    width: 748px;
    height: 50px;
    border-bottom: 1px solid #d9d9d9;
    padding-top: 16px;
    background: url(../img/posbg.jpg) 390px bottom no-repeat;
}
.mainConTitle .mFont {
    float: left;
    width: 118px;
    height: 50px;
    color: #3760ad;
    font-size: 22px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
}
.mainConTitle .mFontbg {
    position: absolute;
    left: 0px;
    bottom: -1px;
    width: 118px;
    height: 9px;
    background: url(../img/aaa.jpg) left bottom no-repeat;
}
.mainConTitle .position {
    position: absolute;
    right: 0px;
    bottom: 0px;
    height:50px;
    color: #717171;
    font-size: 14px;
    line-height: 50px;
}
.mainConTitle .position a {
    color: #717171;
}
.mainConTitle .position font {
    font-size: 14px;
}
.mainContent {
    color: #565656;
    font-size: 14px;
    line-height: 30px;
    overflow: hidden;
    padding: 20px;
    height: auto!important;
    min-height: 560px;
    height: 560px;
    word-wrap: break-word;
    word-break: break-all;
    padding-top: 0px;
}
.mainContent-title{
    font-size: 24px;
    color: #337FE5;
    padding:30px 0;
}
.mainContent-content-text{
    font-size: 16px;
    text-indent: 32px;
    line-height: 1.5;
}
.mainContent-content img{
    width: 100%;
}
.mainConList {
    width: 748px;
    padding-top: 20px;
}
.mainConList .pic1 {
    float: left;
    position: relative;
    width: 241px;
    height: 183px;
    margin-right: 8px;
    padding-bottom: 30px;
    background: url(../img/listbg.jpg) left bottom no-repeat;
}
.mainConList .pic1Img{
    text-align: center;
    background: #fff;
}
.mainConList .pic1 .pic1Hover {
    position: absolute;
    left: 4px;
    bottom: 30px;
    z-index: 10;
    display: none;
    width: 196px;
    height: 54px;
    padding: 6px 20px 0px 20px;
    color: #e5ebf3;
    font-size: 14px;
    line-height: 24px;
    background: url(../img/back.png);
    text-align: center;
}
#showpage{
    width: 100%;
    line-height: 50px;
    float: left;
    color: #3d3d3d;
    text-align: center;
}

.service-box{
    text-align: center;
}
.service-title{
    font-size: 18px;
    padding:20px 0;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #ccc;
}
.service-box img{
    width: 60%;
    margin-top: 20px;
}
.service-text{
    font-size: 16px;
    text-indent: 32px;
    text-align: left;
    line-height: 1.5;
    margin-top: 20px;
}
.mainContect .title {
    width: 100%;
    padding-top: 25px;
    color: #4b4b4b;
    font-size: 18px;
    text-align: center;
}
.mainContect .pic {
    width: 100%;
    text-align: center;
    padding: 20px 0;
}
.mainContect .pic img {
    margin: 0 auto;
}
.mainContect .con {
    padding-bottom: 20px;
    line-height: 30px;
    font-size: 14px;
    color: #4b4b4b;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
}
.mainContect img {
    max-width: 100%;
}